.container {
    padding: 20px;
    background-color: blanchedalmond;
  }

  .card {
    margin: 20px;
    text-align: center;
  }

  .col-md-4 {
    padding-bottom: 60px;
  }

  .container li h2 {
    color: #007bff;
  }